body {
  overflow: hidden;
  user-select: none;
}

.cursor-pointer:hover {
  cursor: default !important;
}
.q-btn--actionable {
  cursor: default !important;
}

.custom_table_no_wrap {
  white-space: nowrap;
}

.custom_hyperlink {
  text-decoration: underline;
  cursor: pointer;
}
.custom_hyperlink:hover {
  text-decoration: none;
}
